<div *ngIf="showTable$ | async">
  <section>
    <div class="row m-1">
      <div class="col-md-3">
        <select
          class="form-control form-control-sm"
          name=""
          id="filter"
          [(ngModel)]="attr_selected"
        >
          <option *ngFor="let attr of attr_list" [ngValue]="attr">
            {{
              attr === "nombre"
                ? "Nombre"
                : attr === "apellido"
                ? "Apellido"
                : attr === "telefono"
                ? "Telefono"
                : attr === "domicilio"
                ? "Domicilio"
                : attr === "localidad"
                ? "Localidad"
                : attr === "email"
                ? "Email"
                : "Activo"
            }}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <div *ngIf="attr_selected === 'activo'" class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="isActive"
            [(ngModel)]="isActive"
          />
          <label class="form-check-label" for="isActive"> Activo </label>
        </div>
        <div *ngIf="attr_selected !== 'activo'" class="form-check">
          <input
            class="form-control form-control-sm round"
            type="text"
            id="search"
            placeholder="Buscar.."
            [(ngModel)]="searchText"
          />
        </div>
      </div>
      <div class="col-md-3">
        <button
          class="btn btn-sm btn-outline-secondary"
          (click)="applyFilter()"
        >
          <app-icon [iconName]="'filter'" ></app-icon>
          Aplicar filtro
        </button>
      </div>
      <div *ngIf="!blockButtons" class="col-md-3">
        <button
          class="btn btn-sm btn-outline-primary float-right"
          (click)="goTo()"
        >
          <app-icon [iconName]="'plus'" ></app-icon>
          Nuevo
        </button>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive text-nowrap text-center">
        <table class="table table-sm table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre/Apellido</th>
              <th scope="col">Tel.</th>
              <th scope="col">Domicilio</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clients">
              <td>{{ client.id }}</td>
              <td>{{ client.nombre + " " + client.apellido }}</td>
              <td>{{ client.telefono }}</td>
              <td>{{ client.domicilio }}</td>
              <td>
                <button
                  *ngIf="!blockButtons"
                  (click)="goTo(client)"
                  class="btn btn-primary btn-sm m-1"
                  title="Editar"
                >
                  <app-icon [iconName]="'eye'" ></app-icon>
                </button>
                <button
                  *ngIf="!blockButtons"
                  class="btn btn-danger btn-sm btn-acciones"
                  title="Al archivar, dejará de estar disponible para modificaciones, pero no se eliminará"
                >
                  <app-icon [iconName]="'archive'" ></app-icon>
                </button>
                <button
                  *ngIf="blockButtons"
                  (click)="selectClient(client)"
                  data-dismiss="modal"
                  class="btn btn-primary btn-sm btn-acciones"
                >
                  Seleccionar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <app-paginacion (changePage)="pageChanged($event)"></app-paginacion>
</div>

<router-outlet></router-outlet>
