<app-title-section [title]="title"></app-title-section>

<div class="row mb-5">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <label for="fromDashboard">Desde</label>
    <input
      [(ngModel)]="fromDashboard"
      id="fromDashboard"
      class="form-control form-control-sm"
      type="date"
    />
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4">
    <label for="toDashboard">Hasta</label>
    <input
      [(ngModel)]="toDashboard"
      id="toDashboard"
      class="form-control form-control-sm"
      type="date"
    />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <label for="hasta">Confirmar:</label>
    <button class="btn btn-sm btn-outline-danger" (click)="getStatsDashboard()">
      Obtener estadísticas
    </button>
  </div>
</div>

<div *ngIf="statisticsDashboard" class="row text-center">
  <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
    <div class="card text-dark bg-light shadow-lg">
      <div class="card-body">
        <h6 class="card-text">Suma de Ventas</h6>
        <h3 class="card-title">
          {{
            statisticsDashboard.TotalVendido | currency: "ARS":"symbol":"1.0"
          }}
        </h3>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
    <div class="card text-dark bg-light shadow-lg">
      <div class="card-body">
        <h6 class="card-text">Suma de Pagos</h6>
        <h3 class="card-title">
          {{
            statisticsDashboard.TotalDePagos | currency: "ARS":"symbol":"1.0"
          }}
        </h3>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
    <div class="card text-dark bg-light shadow-lg">
      <div class="card-body">
        <h6 class="card-text">Ganancias por interes</h6>
        <h3 class="card-title">
          {{ statisticsDashboard.Ganancias | currency: "ARS":"symbol":"1.0" }}
        </h3>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
    <div class="card text-dark bg-light shadow-lg">
      <div class="card-body">
        <h6 class="card-text">Cantidad de pagos</h6>
        <h3 class="card-title">
          {{ statisticsDashboard.CountPagos }}
        </h3>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
    <div class="card text-dark bg-light shadow-lg">
      <div class="card-body">
        <h6 class="card-text">Cantidad de movimientos</h6>
        <h3 class="card-title">
          {{ statisticsDashboard.CountMovimientos }}
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <label for="fromGraphic">Desde</label>
    <input
      [(ngModel)]="fromGraphic"
      id="fromGraphic"
      class="form-control form-control-sm"
      type="date"
    />
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4">
    <label for="toGraphic">Hasta</label>
    <input
      [(ngModel)]="toGraphic"
      id="toGraphic"
      class="form-control form-control-sm"
      type="date"
    />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <label for="hasta">Confirmar:</label>
    <button class="btn btn-sm btn-outline-danger" (click)="getStatsGraphics()">
      Obtener estadísticas
    </button>
  </div>
</div>

<div *ngIf="statisticsGraphic">
  <div class="chart-wrapper m-4">
    <canvas
      baseChart
      [datasets]="dataCountMovimientos"
      [labels]="labelsCountMovimientos"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>

  <div class="chart-wrapper m-4">
    <canvas
      baseChart
      [datasets]="dataCountPagos"
      [labels]="labelsCountPagos"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>

  <div class="chart-wrapper m-4">
    <canvas
      baseChart
      [datasets]="dataGanancias"
      [labels]="labelsGanancias"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>

  <div class="chart-wrapper m-4">
    <canvas
      baseChart
      [datasets]="dataTotalDePagos"
      [labels]="labelsTotalDePagos"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>

  <div class="chart-wrapper m-4">
    <canvas
      baseChart
      [datasets]="dataTotalVendido"
      [labels]="labelsTotalVendido"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>
</div>

<!-- <div class="chart-wrapper m-4">
  <canvas
    baseChart
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType"
  >
  </canvas>
</div> -->
