<div class="tab-content" id="myTabContent">
    <!-- Seccion Productos -->
    <div *ngIf="tabName === 'Productos'">
        <app-tab-products></app-tab-products>
    </div>
    <div *ngIf="tabName === 'Categorías'">
        <app-tab-categories></app-tab-categories>
    </div>
    <div *ngIf="tabName === 'Marcas'">
        <app-tab-brands></app-tab-brands>
    </div>
    <!-- Seccion Usuarios -->
    <div *ngIf="tabName === 'Administradores'">
        <app-tab-admin></app-tab-admin>
    </div>
    <div *ngIf="tabName === 'Otros'">
        <app-tab-categories></app-tab-categories>
    </div>
    <div *ngIf="tabName === 'Marcas'">
        <app-tab-brands></app-tab-brands>
    </div>
</div>
