<!-- <div class="mb-5">
  <app-title-section [title]="title"></app-title-section>

  <div class="row">
    <div class="col-md-10">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li *ngFor="let tab of tabList; index as i" class="nav-item">
          <a class="nav-link" id="{{ tab.id }}-tab" data-toggle="tab" href="#{{ tab.id }}" role="tab"
            aria-controls="{{ tab.id }}" aria-selected="true" [ngClass]="{ active: i === 0 }"
            (click)="setTabaName(tab.name)">
            {{ tab.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-content" id="myTabContent">
    <router-outlet></router-outlet>
  </div>

</div> -->