<div id="mySidenav" class="sidenav">
  <ul
    [ngClass]="{
      fadeInLeft: showDescrip,
      fadeInRight: !showDescrip
    }"
    class="animated fadeInLeft"
  >
    <li
      (click)="goTo('dashboard'); urlActive = 'dashboard'"
      class="dir d-flex align-items-center"
      [ngClass]="{
        active: urlActive === 'dashboard',
        collapsed: !showDescrip
      }"
      *ngIf="_users.hasAdminRole(usuario.roles)"
      routerLinkActive="router-link-active"
    >
      <div class="li-icon">
        <app-icon [iconName]="'home'" [iconSize]="15"></app-icon>
      </div>
      <div *ngIf="showDescrip" class="li-descrip">
        <span> Dashboard </span>
      </div>
    </li>

    <li
      (click)="goTo('ventas'); urlActive = 'ventas'"
      class="dir d-flex align-items-center"
      [ngClass]="{
        active: urlActive === 'ventas',
        collapsed: !showDescrip
      }"
    >
      <div class="li-icon">
        <app-icon [iconName]="'ventas'" [iconSize]="15"></app-icon>
      </div>
      <div *ngIf="showDescrip" class="li-descrip">
        <span> Ventas </span>
      </div>
    </li>

    <li
      (click)="goTo('movimientos-lista'); urlActive = 'movimientos-lista'"
      class="dir d-flex align-items-center"
      [ngClass]="{
        active: urlActive === 'movimientos-lista',
        collapsed: !showDescrip
      }"
    >
      <div class="li-icon">
        <app-icon
          [iconName]="'movementList'"
          [iconSize]="15"
          style="margin-left: 4px"
        ></app-icon>
      </div>

      <div *ngIf="showDescrip" class="li-descrip">
        <span> Movimientos lista </span>
      </div>
    </li>

    <li
      *ngIf="_users.hasAdminRole(usuario.roles)"
      (click)="goTo('productos'); urlActive = 'productos'"
      class="dir d-flex align-items-center"
      [ngClass]="{
        active: urlActive === 'productos',
        collapsed: !showDescrip
      }"
      (click)="showTable()"
    >
      <div class="li-icon">
        <app-icon
          [iconName]="'products'"
          [iconSize]="15"
          style="margin-left: 2px"
        ></app-icon>
      </div>

      <div *ngIf="showDescrip" class="li-descrip">
        <span> Productos </span>
      </div>
    </li>

    <li
      *ngIf="_users.hasAdminRole(usuario.roles)"
      (click)="goTo('gastos'); urlActive = 'gastos'"
      class="dir d-flex align-items-center"
      [ngClass]="{
        active: urlActive === 'gastos',
        collapsed: !showDescrip
      }"
    >
      <div class="li-icon">
        <app-icon
          [iconName]="'expenses'"
          [iconSize]="15"
          style="margin-left: 4px"
        ></app-icon>
      </div>
      <div *ngIf="showDescrip" class="li-descrip">
        <span> Gastos </span>
      </div>
    </li>

    <li
      *ngIf="_users.hasAdminRole(usuario.roles)"
      (click)="goTo('usuarios'); urlActive = 'usuarios'"
      class="dir d-flex align-items-center"
      [ngClass]="{
        active: urlActive === 'usuarios',
        collapsed: !showDescrip
      }"
      (click)="showTable()"
    >
      <div class="li-icon">
        <app-icon [iconName]="'users'" [iconSize]="15"></app-icon>
      </div>

      <div *ngIf="showDescrip" class="li-descrip">
        <span> Usuarios </span>
      </div>
    </li>

    <li
      *ngIf="_users.hasAdminRole(usuario.roles)"
      (click)="goTo('estadisticas'); urlActive = 'estadisticas'"
      class="dir d-flex align-items-center"
      [ngClass]="{
        active: urlActive === 'estadisticas',
        collapsed: !showDescrip
      }"
    >
      <div class="li-icon">
        <app-icon [iconName]="'stats'" [iconSize]="15"></app-icon>
      </div>

      <div *ngIf="showDescrip" class="li-descrip">
        <span> Estadísticas </span>
      </div>
    </li>

    <!-- <li
      *ngIf="_users.hasAdminRole(usuario.roles)"
      (click)="urlActive = 'configuraciones'"
      class="dir d-flex align-items-center"
      [routerLink]="['/configuraciones']"
      [ngClass]="{
        active: urlActive === 'configuraciones',
        collapsed: !showDescrip
      }"
    >
      <div class="li-icon">
        <app-icon [iconName]="'config'" [iconSize]="15"></app-icon>
      </div>

      <div *ngIf="showDescrip" class="li-descrip">
        <span> Configuraciones </span>
      </div>
    </li> -->
  </ul>
</div>
