<div id="mySidenav" class="sidenav">
  <div
    [ngClass]="{
      fadeInLeft: showDescrip,
      fadeInRight: !showDescrip
    }"
    class="animated fadeInLeft"
  >
    <p
      (click)="urlActive = 'dashboard'"
      class="dir d-flex align-items-center"
      [routerLink]="['/dashboard']"
      [ngClass]="{
        active: urlActive === 'dashboard',
        collapsed: !showDescrip
      }"
      *ngIf="usuario.role === 'ADMIN'"
      routerLinkActive="router-link-active"
    >
      <app-icon [iconName]="icons.home" class="icons"></app-icon>
      <span *ngIf="showDescrip"> Dashboard </span>
    </p>

    <p
      (click)="urlActive = 'ventas'"
      class="dir d-flex align-items-center"
      [routerLink]="['/ventas']"
      [ngClass]="{
        active: urlActive === 'ventas',
        collapsed: !showDescrip
      }"
    >
      <app-icon [iconName]="icons.ventas" class="icons"></app-icon>
      <span *ngIf="showDescrip"> Ventas </span>
    </p>

    <p
      (click)="urlActive = 'movimientos-lista'"
      class="dir d-flex align-items-center"
      [routerLink]="['/movimientos-lista']"
      [ngClass]="{
        active: urlActive === 'movimientos-lista',
        collapsed: !showDescrip
      }"
    >
      <app-icon [iconName]="icons.movementList" class="icons"></app-icon>
      <span *ngIf="showDescrip"> Movimientos lista </span>
    </p>

    <p
      *ngIf="usuario.role === 'ADMIN'"
      (click)="urlActive = 'productos'"
      class="dir d-flex align-items-center"
      [routerLink]="['/productos/tab-productos']"
      [ngClass]="{
        active: urlActive === 'productos',
        collapsed: !showDescrip
      }"
      (click)="showTable()"
    >
      <app-icon [iconName]="icons.products" class="icons"></app-icon>
      <span *ngIf="showDescrip"> Productos </span>
    </p>

    <p
      *ngIf="usuario.role === 'ADMIN'"
      (click)="urlActive = 'gastos'"
      class="dir d-flex align-items-center"
      [routerLink]="['/gastos']"
      [ngClass]="{
        active: urlActive === 'gastos',
        collapsed: !showDescrip
      }"
    >
      <app-icon [iconName]="icons.expenses" class="icons"></app-icon>
      <span *ngIf="showDescrip"> Gastos </span>
    </p>

    <p
      *ngIf="usuario.role === 'ADMIN'"
      (click)="urlActive = 'usuarios'"
      class="dir d-flex align-items-center"
      [routerLink]="['/usuarios/tab-clientes']"
      [ngClass]="{
        active: urlActive === 'usuarios',
        collapsed: !showDescrip
      }"
      (click)="showTable()"
    >
      <app-icon [iconName]="icons.users" class="icons"></app-icon>
      <span *ngIf="showDescrip"> Usuarios </span>
    </p>

    <p
      *ngIf="usuario.role === 'ADMIN'"
      (click)="urlActive = 'estadisticas'"
      class="dir d-flex align-items-center"
      [routerLink]="['/estadisticas']"
      [ngClass]="{
        active: urlActive === 'estadisticas',
        collapsed: !showDescrip
      }"
    >
      <app-icon [iconName]="icons.stats" class="icons"></app-icon>
      <span *ngIf="showDescrip"> Estadísticas </span>
    </p>

    <p
      *ngIf="usuario.role === 'ADMIN'"
      (click)="urlActive = 'configuraciones'"
      class="dir d-flex align-items-center"
      [routerLink]="['/configuraciones']"
      [ngClass]="{
        active: urlActive === 'configuraciones',
        collapsed: !showDescrip
      }"
    >
      <app-icon [iconName]="icons.config" class="icons"></app-icon>
      <span *ngIf="showDescrip"> Configuraciones </span>
    </p>
  </div>
</div>
