<div *ngIf="showTable$ | async">
  <section>
    <div class="row">
      <div class="col-md-12">
        <button
          class="btn btn-sm btn-outline-primary float-right"
          (click)="goTo()"
        >
          + Nuevo
        </button>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive text-nowrap text-center">
        <table class="table table-sm table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Talle</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let size of sizes">
              <td>{{ size.id }}</td>
              <td>{{ size.talle }}</td>
              <td>
                <button
                  (click)="goTo(size)"
                  class="btn btn-primary btn-sm m-1"
                  title="Editar"
                >
                  <app-icon [iconName]="'eye'" ></app-icon>
                </button>

                <button
                  class="btn btn-danger btn-sm btn-acciones"
                  title="Al archivar, dejará de estar disponible para modificaciones, pero no se eliminará"
                >
                  <app-icon [iconName]="'archive'" ></app-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <app-paginacion (changePage)="pageChanged($event)"></app-paginacion>
</div>
<router-outlet></router-outlet>
