.alert-selected {
    color: #000000;
    background-color: #a3c3ffa6;
}

.alert-total {
    color: #ffffff;
    background-color: #197bff;
}

.card {
    padding: 10px;
    margin-bottom: 10px;
}

.card-container {
    height: 300px;
    margin-bottom: 50px;
    overflow: auto;
    padding-inline-start: 0px !important;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.card-container::-webkit-scrollbar {
    display: none;
}

.state-outline-success {
    border-color: rgb(97, 255, 97);
    border-style: solid;
    border-width: 1px;
}

.state-success {
    background-color: rgb(97, 255, 97);
}

.state-outline-danger {
    border-color: rgb(255, 85, 85);
    border-style: solid;
    border-width: 1px;
}

.state-danger {
    background-color: rgb(255, 85, 85);
}
