<form [formGroup]="categoryForm" (ngSubmit)="send()">
  
  <div id="row" class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <label for="category">Categoría:</label>
      <input
        id="category"
        class="form-control form-control-sm"
        type="text"
        placeholder="Categoría"
        formControlName="categoria"
      />
      <!-- <small *ngIf="nombreNoValido" class="text-danger">Nombre Inválido</small> -->
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-end">
      <button
        class="btn btn-sm btn-outline-success"
        [disabled]="categoryForm.invalid"
        type="submit"
      >
        <app-icon [iconName]="'save'" class="icons"></app-icon>
        Guardar
      </button>
      <button
        class="btn btn-sm btn-outline-danger ml-3"
        (click)="goTo()"
        type="button"
      >
        <app-icon [iconName]="'arrowLeft'" class="icons"></app-icon>
        Volver
      </button>
    </div>
  </div>
</form>
