// $primary-color: #51b1ff;
$primary-color: #000000;
// $primary-color: #909090;
$secondary-color: #979797;
// $secondary-color: #363636;

$primary-background: #ececec;
$secondary-background: #f3fa68;
$card-background: #ffffff;

$primary-font-color: #040304;
$fontsecondary-font-colo: #342f34;

$title-font-size: 15px;
$description-font-size: 12px;

$font-family: "Montserrat", sans-serif;

