
<div class="row text-center mt-2 mb-2">
  <div class="col-sm-12 col-md-12 col-lg-12 text-center">
    <app-title-section [title]="'Dashboard'"></app-title-section>
  </div>
</div>

<div *ngIf="statistics.length == 0" class="row mb-5">
  <div class="col-sm-12 col-md-12 col-lg-12 text-center">
    <app-title-section [title]="'Cargando datos del Dashboard'"></app-title-section>
    <img src="assets/images/loading.gif"  class="mt-5 mb-5" style="width: 10%; height: auto;" alt="">
  </div>
</div>

<div *ngFor="let stat of statistics">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 text-left">
      <h5> {{ stat.period }}</h5>
    </div>
  </div>
  <div class="row text-center">
    <div *ngFor="let item of stat.data" class="col-sm-12 col-md-3 col-lg-3 mb-3">
      <div class="card text-dark bg-light shadow-lg">
        <div class="card-body">
          <h6 class="card-text"> {{ item.title }}</h6>
          <h3 *ngIf="item.type === 'money'" class="card-title"> {{ item.value | currency:'ARS':'symbol':'1.0' }} </h3>
          <h3 *ngIf="item.type === 'count'" class="card-title"> {{ item.value }} </h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row text-center mt-2 mb-2">
  <div class="col-sm-12 col-md-12 col-lg-12 text-center">
    <hr>
    <app-title-section [title]="'Secciones'"></app-title-section>
  </div>
</div>
<div class="row text-center">
  <div class="col-sm-12 col-md-4 col-lg-4 mb-3 mt-3 direction">
    <div class="card text-dark bg-light shadow-lg">
      <div class="card-body">
        <div [routerLink]="['/ventas']" routerLinkActive="router-link-active">
          <app-icon [iconName]="icons.ventas" [iconSize]="100" class="icons"></app-icon>
          <h4> Ventas </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4 mb-3 mt-3 direction">
    <div class="card text-dark bg-light shadow-lg">
      <div class="card-body">
        <div [routerLink]="['/movimientos-lista']" routerLinkActive="router-link-active">
          <app-icon [iconName]="icons.movementList" [iconSize]="100" class="icons"></app-icon>
          <h4> Movimientos </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4 mb-3 mt-3 direction">
    <div class="card text-dark bg-light shadow-lg">
      <div class="card-body">
        <div [routerLink]="['/productos/tab-productos']" routerLinkActive="router-link-active">
          <app-icon [iconName]="icons.products" [iconSize]="100" class="icons"></app-icon>
          <h4> Productos </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4 mb-3 mt-3 direction">
    <div class="card text-dark bg-light shadow-lg">
      <div class="card-body">
        <div [routerLink]="['/estadisticas']" routerLinkActive="router-link-active">
          <app-icon [iconName]="icons.stats" [iconSize]="100" class="icons"></app-icon>
          <h4> Estadísticas </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4 mb-3 mt-3 direction">
    <div class="card text-dark bg-light shadow-lg">
      <div class="card-body">
        <div [routerLink]="['/usuarios/tab-usuarios']" routerLinkActive="router-link-active">
          <app-icon [iconName]="icons.users" [iconSize]="100" class="icons"></app-icon>
          <h4> Clientes </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4 mb-3 mt-3 direction">
    <div class="card text-dark bg-light shadow-lg">
      <div class="card-body">
        <div [routerLink]="['/configuraciones']" routerLinkActive="router-link-active">
          <app-icon [iconName]="icons.config" [iconSize]="100" class="icons"></app-icon>
          <h4> Configuraciones </h4>
        </div>
      </div>
    </div>
  </div>
</div>