<div class="row text-center mt-2 mb-2">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
        <app-title-section [title]="'Dashboard'"></app-title-section>
    </div>
</div>

<div class="row text-center pb-5">
    <div class="col-sm-12 col-md-4 col-lg-4 mb-3 mt-3 direction">
        <div class="card text-dark bg-light shadow-lg">
            <div class="card-body">
                <div
                    [routerLink]="['/ventas']"
                    routerLinkActive="router-link-active"
                >
                    <app-icon [iconName]="'ventas'" [iconSize]="100"></app-icon>
                    <h4>Ventas</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 mb-3 mt-3 direction">
        <div class="card text-dark bg-light shadow-lg">
            <div class="card-body">
                <div
                    [routerLink]="['/movimientos-lista']"
                    routerLinkActive="router-link-active"
                >
                    <app-icon
                        [iconName]="'movementList'"
                        [iconSize]="100"
                    ></app-icon>
                    <h4>Movimientos</h4>
                </div>
            </div>
        </div>
    </div>
    <div
        *ngIf="_users.hasSuperAdminRole(usuario.roles) || _users.hasAdminRole(usuario.roles)"
        class="col-sm-12 col-md-4 col-lg-4 mb-3 mt-3 direction"
    >
        <div class="card text-dark bg-light shadow-lg">
            <div class="card-body">
                <div
                    [routerLink]="['/productos/tab-productos']"
                    routerLinkActive="router-link-active"
                >
                    <app-icon
                        [iconName]="'products'"
                        [iconSize]="100"
                    ></app-icon>
                    <h4>Productos</h4>
                </div>
            </div>
        </div>
    </div>
    <div
        *ngIf="_users.hasSuperAdminRole(usuario.roles) || _users.hasAdminRole(usuario.roles)"
        class="col-sm-12 col-md-4 col-lg-4 mb-3 mt-3 direction"
    >
        <div class="card text-dark bg-light shadow-lg">
            <div class="card-body">
                <div
                    [routerLink]="['/estadisticas']"
                    routerLinkActive="router-link-active"
                >
                    <app-icon [iconName]="'stats'" [iconSize]="100"></app-icon>
                    <h4>Estadísticas</h4>
                </div>
            </div>
        </div>
    </div>
    <div
        *ngIf="_users.hasSuperAdminRole(usuario.roles) || _users.hasAdminRole(usuario.roles)"
        class="col-sm-12 col-md-4 col-lg-4 mb-3 mt-3 direction"
    >
        <div class="card text-dark bg-light shadow-lg">
            <div class="card-body">
                <div
                    [routerLink]="['/usuarios/tab-usuarios']"
                    routerLinkActive="router-link-active"
                >
                    <app-icon [iconName]="'users'" [iconSize]="100"></app-icon>
                    <h4>Usuarios</h4>
                </div>
            </div>
        </div>
    </div>
    <div
        *ngIf="_users.hasSuperAdminRole(usuario.roles) || _users.hasAdminRole(usuario.roles)"
        class="col-sm-12 col-md-4 col-lg-4 mb-3 mt-3 direction"
    >
        <div class="card text-dark bg-light shadow-lg">
            <div class="card-body">
                <div
                    [routerLink]="['/gastos']"
                    routerLinkActive="router-link-active"
                >
                    <app-icon
                        [iconName]="'expenses'"
                        [iconSize]="100"
                    ></app-icon>
                    <h4>Gastos</h4>
                </div>
            </div>
        </div>
    </div>
</div>
